@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

html > body,
html > body .ProseMirror,
html > body .toastui-editor-contents {
	font-family: 'Nanum Gothic', sans-serif;
	min-width: 800px;
}

html > body .ProseMirror p,
html > body .toastui-editor-contents p,
html > body .toast-ui-viewer p {
	font-size: 14px;
}

html > body > header::before {
	position: absolute;
	top: 40px;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,.07);
	height: 1px;
	content: "";
}

.gnb > .my_lyr {
	display: none;
	position: absolute;
	top: 26px;
	right: -8px;
	width: 320px;
	height: 150px;
	background-color: #fff;
	z-index: 10;
	box-shadow: 0px 2px 10px 1px grey;
}

.gnb > .my_lyr:after, .gnb > .my_lyr:before {
	top: -10px;
	right: 35px;
	border: 5px solid transparent;
	border-bottom-color: #fff;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.gnb > .my_lyr.open_lyr {
	display: flex;
	flex-direction: column;
}

.table-box-type-1 > table th,
.table-box-type-1 > table td {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	text-align: center;
}