@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

html > body,
html > body .ProseMirror,
html > body .toastui-editor-contents {
	font-family: 'Nanum Gothic', sans-serif;
	min-width: 800px;
}

html > body .ProseMirror p,
html > body .toastui-editor-contents p,
html > body .toast-ui-viewer p {
	font-size: 14px;
}

html > body > header {
	position: relative;
	background: #005e99;
}

html > body > header::before {
	position: absolute;
	top: 40px;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .07);
	height: 1px;
	content: "";
}

html > body > header::after {
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	height: 3px;
	content: "";
}

.gnb > .my_lyr {
	display: none;
	position: absolute;
	top: 26px;
	right: -8px;
	width: 320px;
	height: 150px;
	background-color: #fff;
	z-index: 10;
	box-shadow: 0px 2px 10px 1px grey;
}

.gnb > .my_lyr:after, .gnb > .my_lyr:before {
	top: -10px;
	right: 35px;
	border: 5px solid transparent;
	border-bottom-color: #fff;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.gnb > .my_lyr.open_lyr,
.gnb .myPage.open_lyr {
	display: flex;
	flex-direction: column;
	z-index: 9999;
}

.gnb .myPage {
	display: none;
	position: absolute;
	top: 30px;
	right: -15px;
	width: 150px;
	padding: 15px;
	background-color: #fff;
	color: #000;
	z-index: 10;
	box-shadow: 0px 2px 10px 1px grey;
}

.gnb .myPage:after, .gnb .myPage:before {
	top: -10px;
	right: 70px;
	border: 5px solid transparent;
	border-bottom-color: #fff;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.table-box-type-1 > table th,
.table-box-type-1 > table td {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	text-align: center;
}

.table-box-type-2 > table th,
.table-box-type-2 > table td {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}

.table-box-type-2 > table > thead th.cHead {
	border-top: 2px solid #6b90dc;
	font-size: 14px;
}

.table-box-type-2 > table th {
	border-right: 1px solid #e5e5e5;
	background-color: #f9f9f9;
}

.table-box-type-2 > table td:not(:last-child) {
	border-right: 1px solid #e5e5e5;
}

.h-screen-c {
	height: calc(100vh - 6.5rem);
}

.dot::before {
	display: inline-block;
	width: 2px;
	height: 2px;
	margin: 5px 10px 5px 5px;
	background-color: #aaa;
	content: "";
}

.textLengthWrap {
	position: absolute;
	bottom: 27px;
	right: 25px;
	color: gray;
	user-select: none;
}

.list > div > div.img_area > a > img,
.gallery > div > div > div > div.img_area > a > img {
	transition: .3s;
}

.list > div:hover > div.img_area > a > img,
.gallery > div > div > div:hover > div.img_area > a > img {
	border-color: rgba(55, 48, 163);
}

.dots > div {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #000;
	margin: 10px;
	opacity: .5;
}

.dots > div.active {
	opacity: 1;
}

.slider > .slider-btn {
	transition: .5s;
}

.slider:hover > .slider-btn {
	visibility: visible;
	opacity: 1;
}

.photo-container::before {
	position: absolute;
	top: 0;
	right: -1px;
	content: "";
	width: 1px;
	height: 100%;
	background-color: rgba(229, 231, 235);
}

.photo-box::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.photos > div.active {
	border: 2px solid #000;
}

.text-outline {
	text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}

.productBtn .numBtn {
	position: relative;
	width: 10%;
	background-color: #f1f2f4;
	cursor: pointer;
	user-select: none;
}

.productBtn .numBtn > span {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	clear: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.productBtn .numBtn.minus::before,
.productBtn .numBtn.plus::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 2px;
	margin: -1px 0 0 -5px;
	background-color: #000;
	content: "";
}
.productBtn .numBtn.plus::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 10px;
	margin: -5px 0 0 -1px;
	background-color: #000;
	content: "";
}

.productBtn .numInput {
	height: 50px;
	outline: none;
	padding: 5px 20px;
	text-align: center;
	font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[data-tip]::before {
    white-space: pre;
}

main > .shopWrap {
	height : 100%;
	background: white;
	padding-top : 60px;
}     

table-box-shopCart {
	height : 100%;
	border : 8px solid pink;
}

.cartTable {
	margin-left : auto;
	margin-right : auto;
	border : 1px solid black;
	text-align: center;
}

.basketHead {
	background-color: white;
	padding-top : 60px;
}    

.table-box-shopCart table, .table-box-shopCart table td, 
.table-box-shopCart table tr, .table-box-shopCart table th {
	border : 1px solid black;
	border-collapse : collapse;
}

.tab.tabActive {
	background-color: #3d3d4f;
	color: #fff;
}

.productInfo3::after {
	display: block;
	content: "";
	width: 10%;
	height: 3px;
	background-color: #000;
	margin: 40px auto;
}

.star-ratings {
	user-select: none;
	color: #aaa9a9; 
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.1px;
	-webkit-text-stroke-color: #2b2a29;
}
 
.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: gold;
}
 
.star-ratings-base {
	z-index: 0;
	padding: 0;
}

.toastui-editor-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center; 
}